<!DOCTYPE html>
<html lang="en">
<head><script src="/livereload.js?mindelay=10&amp;v=2&amp;port=1313&amp;path=livereload" data-no-instant defer></script>
	<title>Tracker | Piacere, Matthew</title>
	<link rel="canonical" href="http://localhost:1313/">
	<link rel='alternate' type='application/rss+xml' title="Piacere, Matthew RSS" href='/index.xml'>
	<link rel='stylesheet' type='text/css' href='../css/style.css'>
	<link rel="icon" href="/favicon.ico">
	<meta name="description" content="Serie Tv La pagina che deve tenere traccia di quello che sto guardando, ho guardato e devo guardare (Un TvTime DIY che non da i miei dati a qualcuno)
📺 In pari Navigavia | Serie preferita ❤️
Luxastra | Serie preferita ❤️
Blocco 181 📺 Terminato Sei ciò che mangi: gemelli a confronto
Huntik: Secrets &amp; Seekers
Scott Pilgrim Takes Off
L&rsquo;attacco dei giganti
Disincanto
Locke &amp; Key
Sex Education">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
</head>
<body>
<main>
<header><h1 id="tag_Tracker">Tracker</h1></header>
<article>

<div style="text-align: center">
	<p>
<h3>Serie Tv</h3>

<p>La pagina che deve tenere traccia di quello che sto guardando, ho guardato e devo guardare (Un TvTime DIY che non da i miei dati a qualcuno)</p>

<h2>📺 In pari</h2>
</p>
</div>

<ul>
<li>
<p><a href="https://thetvdb.com/series/navigavia">Navigavia</a> | Serie preferita ❤️</p>
</li>
<li>
<p><a href="https://thetvdb.com/series/inntale">Luxastra</a> | Serie preferita ❤️</p>
</li>
<li>
<p><a href="https://thetvdb.com/series/blocco-181">Blocco 181</a>
<div style="text-align: center">
	<p>
<h2> 📺 Terminato </h2>
</p>
</div>
</p>
</li>
<li>
<p><a href="https://thetvdb.com/series/you-are-what-you-eat-a-twin-experiment">Sei ciò che mangi: gemelli a confronto</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/huntik-secrets-and-seekers">Huntik: Secrets &amp; Seekers</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/scott-pilgrim">Scott Pilgrim Takes Off</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/attack-on-titan">L&rsquo;attacco dei giganti</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/disenchantment">Disincanto</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/locke-and-key">Locke &amp; Key</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/sex-education">Sex Education</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/questo-mondo-non-mi-rendera-cattivo">Questo mondo non mi renderà cattivo</a> | Serie preferita ❤️</p>
</li>
<li>
<p><a href="https://thetvdb.com/series/the-ferragnez">The Ferragnez</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/overlord">Overlord</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/sexlife">Sex/Life</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/after-life">After Life</a> | Serie preferita ❤️</p>
</li>
<li>
<p><a href="https://thetvdb.com/series/dragon-ball">Dragon Ball</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/dragon-ball-z">Dragon Ball Z</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/dragon-ball-gt">Dragon Ball GT</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/dragon-ball-super">Dragon Ball Super</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/drifters-2016">Drifters</a> | Serie preferita ❤️</p>
</li>
<li>
<p><a href="https://thetvdb.com/series/easy">Easy</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/eromanga-sensei">Eromanga Sensei</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/fairy-tail">Fairy Tail</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/free-meek">Free Meek</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/fullmetal-alchemist-brotherhood">Fullmetal Alchemist: Brotherhood</a> | Serie preferita ❤️</p>
</li>
<li>
<p><a href="https://thetvdb.com/series/highschool-of-the-dead">High School of the Dead</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/385764-high-score">High Score</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/how-i-met-your-mother">How I Met Your Mother</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/how-to-sell-drugs-online-fast">Come vendere droga online (in fretta)</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/k">K</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/kissxsis">KissxSis</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/from-today-on-its-my-turn">Due3come noi</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/mr-pickles">Mr. Pickles</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/my-wife-is-the-student-council-president">My Wife is the Student Council President</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/new-game">New Game!</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/rhythm-and-flow">Rhy2thm + Flow</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/shimoneta-a-boring-world-where-the-concept-of-dirty-jokes-doesnt-exist">SHIMONETA: A Boring World Where the Concept of &lsquo;Dirty Jokes&rsquo; Doesn’t Exist</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/seraph-of-the-end">Seraph of the End</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/strappare-lungo-i-bordi">Strappare lungo i bordi</a> | Serie preferita ❤️</p>
</li>
<li>
<p><a href="https://thetvdb.com/series/the-big-bang-theory">The Big Bang Theory</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/the-defiant-ones">I ribelli</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/the-end-of-the-f-ing-world">The End of the F***ing World</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/the-get-down">The Get Down</a> | Serie preferita ❤️</p>
</li>
<li>
<p><a href="https://thetvdb.com/series/the-it-crowd">The IT Crowd</a> | Serie preferita ❤️</p>
</li>
<li>
<p><a href="https://thetvdb.com/series/the-midnight-gospel">The Midnight Gospel</a> | Serie preferita ❤️</p>
</li>
<li>
<p><a href="https://thetvdb.com/series/the-naked-director">Il Regista Nudo</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/the-mind-explained">La mente svelata</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/the-promised-neverland">The Promise Neverland</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/too-old-to-die-young">Too Old to Die Young</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/tsugumomo">Tsugumomo</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/twin-star-exorcists">Twin Star Exorcists</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/ultimate-otaku-teacher">Ultimate Otaku Teacher</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/video-girl-ai">Video Girl Ai</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/unsolved">Unsolved</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/342040-show">Wild Wild Country</a></p>
</li>
<li>
<p><a href="https://thetvdb.com/series/long-strange-trip">Long Strange Trip</a></p>
</li>
</ul>
<div style="text-align: center">
	<p>
    <hr />
    <h3> Film </h3>
    <p> Stessa roba delle serie ma con i film </p>
    <h2> 🎞️ Guardati </h2>
</p>
</div>

<ul>
<li><a href="https://thetvdb.com/movies/jim-button-and-luke-the-engine-driver">Le avventure di Jim Bottone</a></li>
<li><a href="https://thetvdb.com/movies/enea">Enea</a> | Film preferito ❤️</li>
<li><a href="https://thetvdb.com/movies/deadpool-3">Deadpool & Wolverine</a></li>
<li><a href="https://thetvdb.com/movies/339957-inside-out-2">Inside Out 2</a></li>
<li><a href="https://thetvdb.com/movies/bad-boys-4">Bad Boys: Ride or Die</a></li>
<li><a href="https://thetvdb.com/movies/untitled-planet-of-the-apes-project">Il regno del pianeta delle scimmie</a></li>
<li><a href="https://www.raiplay.it/video/2024/05/Food-for-Profit---Report-05052024-a1ac3844-2d74-4938-a480-50df67555010.html">Food for profit</a></li>
<li><a href="https://thetvdb.com/movies/wicked-little-letters">Cattiveria a domicilio</a> | Film preferito ❤️</li>
<li><a href="https://thetvdb.com/movies/349134-civil-war">Civil War</a></li>
<li><a href="https://thetvdb.com/movies/back-to-black">Back to Black</a></li>
<li><a href="https://thetvdb.com/movies/50-km-allora">50 Km all’ora</a></li>
<li><a href="https://thetvdb.com/movies/the-blair-witch-project">The Blair Witch Project</a></li>
<li><a href="https://thetvdb.com/movies/someday-this-pain-will-be-useful-to-you">Un giorno questo dolore ti sarà utile</a></li>
<li><a href="https://thetvdb.com/movies/un-mondo-a-parte">Un mondo a parte</a></li>
<li><a href="https://thetvdb.com/movies/ghostbusters-firehouse">Ghostbusters: Minaccia glaciale</a></li>
<li><a href="https://thetvdb.com/movies/torino-violenta">Torino Violenta</a></li>
<li><a href="https://thetvdb.com/movies/good-bye-lenin">Good bye, Lenin!</a></li>
<li><a href="https://thetvdb.com/movies/102-dalmatians">La carica dei 102 - Un nuovo colpo di coda</a></li>
<li><a href="https://thetvdb.com/movies/bob-marley-one-love">Bob Marley: One Love</a></li>
<li><a href="https://thetvdb.com/movies/dogtooth">Dogtooth</a></li>
<li><a href="https://thetvdb.com/movies/romeo-e-giulietta">Romeo è Giulietta</a> | Film preferito ❤️</li>
<li><a href="https://thetvdb.com/movies/the-lords-of-salem">Le Streghe di Salem</a></li>
<li><a href="https://thetvdb.com/search?query=la%20famiglia%20asafa&amp;menu%5Btype%5D=movie">Foto di famiglia</a> | Film preferito ❤️</li>
<li><a href="https://thetvdb.com/movies/poor-things">Povere Creature</a></li>
<li><a href="https://thetvdb.com/movies/orphan-first-kill">Orphan: First Kill</a></li>
<li><a href="https://thetvdb.com/movies/kissing-gorbaciov">Kissing Gorbaciov</a> | Film preferito ❤️</li>
<li><a href="https://thetvdb.com/movies/il-migliore-dei-mondi">Il migliore dei mondi</a></li>
<li><a href="https://thetvdb.com/movies/marry-me-2022">Sposami</a></li>
<li><a href="https://thetvdb.com/movies/sausage-party">Sausage Party</a></li>
<li><a href="https://thetvdb.com/movies/how-do-you-live">Il ragazzo e l’airone</a> | Film preferito ❤️</li>
<li><a href="https://thetvdb.com/movies/138155-host-2020">Host</a></li>
<li><a href="https://thetvdb.com/movies/unfriended-dark-web">Unfriended: Dark Web</a></li>
<li><a href="https://thetvdb.com/movies/unfriended">Unfriended</a></li>
<li><a href="https://thetvdb.com/movies/ragazzi-madre-liliade">Ragazzi Madre: L&rsquo;Iliade</a></li>
<li><a href="https://thetvdb.com/movies/spider-man-into-the-spider-verse-2">Spider-Man: Across the Spider-Verse</a></li>
<li><a href="https://thetvdb.com/movies/santocielo">Santocielo</a></li>
<li><a href="https://thetvdb.com/movies/natale-in-crociera">Natale in crociera</a></li>
<li><a href="https://thetvdb.com/movies/willy-wonka">Wonka</a></li>
<li><a href="https://thetvdb.com/movies/ma-cosa-ci-dice-il-cervello">Ma cosa ci dice il cervello</a></li>
<li><a href="https://thetvdb.com/movies/10-giorni-con-babbo-natale">10 giorni con Babbo Natale</a></li>
<li><a href="https://thetvdb.com/movies/countdown-2019">Countdown</a></li>
<li><a href="https://thetvdb.com/movies/dimensions-of-dialogue">Dimensions of Dialogue</a></li>
<li><a href="https://thetvdb.com/movies/ce-ancora-domani">C&rsquo;è ancora domani</a></li>
<li><a href="https://thetvdb.com/movies/stan-helsing">Stan Helsing</a></li>
<li><a href="https://thetvdb.com/movies/the-starving-games">Angry Games - La ragazza con l’uccello di fuoco</a></li>
<li><a href="https://thetvdb.com/movies/junk-boy">Junk Boy</a></li>
<li><a href="https://thetvdb.com/movies/a-thousand-and-one-nights">Le mille e una notte</a></li>
<li><a href="https://thetvdb.com/movies/winnie-the-pooh-blood-and-honey">Winnie The Pooh: Blood and Honey</a></li>
<li><a href="https://thetvdb.com/movies/wicked-city">La città delle bestie incantatrici</a></li>
<li><a href="https://thetvdb.com/movies/castaway-on-the-moon">Castaway on the moon</a> | Film preferito ❤️</li>
<li><a href="https://thetvdb.com/movies/nimona">Nimona</a></li>
<li><a href="https://thetvdb.com/movies/donde-caben-dos">Non c&rsquo;è due senza&hellip;</a></li>
<li><a href="https://thetvdb.com/movies/friends-with-benefits">Amici con benefici</a></li>
<li><a href="https://thetvdb.com/movies/limitless">Limitless</a></li>
<li><a href="https://thetvdb.com/movies/io-capitano">Io, capitano</a></li>
<li><a href="https://thetvdb.com/movies/midsommar">Midsommar</a></li>
<li><a href="https://thetvdb.com/movies/asteroid-city">Asteroyd city</a></li>
<li><a href="https://thetvdb.com/movies/puparia">Puparia</a></li>
<li><a href="https://thetvdb.com/movies/oppenheimer">Oppenheimer</a></li>
<li><a href="https://thetvdb.com/movies/mission-impossible-7">Mission: Impossible - Dead Reckoning</a></li>
<li><a href="https://thetvdb.com/movies/donnie-darko">Donnie Darko</a></li>
<li><a href="https://thetvdb.com/movies/food">Food</a></li>
<li><a href="https://thetvdb.com/movies/maid-in-manhattan">Un amore a 5 stelle</a></li>
<li><a href="https://thetvdb.com/movies/guardians-of-the-galaxy-vol-3">Guardiani della galassia: VOl. 3</a></li>
<li><a href="https://thetvdb.com/movies/the-intern">The Intern</a></li>
<li><a href="https://thetvdb.com/movies/the-nun">The Nun</a></li>
<li><a href="https://thetvdb.com/movies/swat-firefight">S.W.A.T.: Firefight</a></li>
<li><a href="https://thetvdb.com/movies/super-mario">Super Mario Bros. Il Film</a></li>
<li><a href="https://thetvdb.com/movies/ricky-gervais-super-nature">Ricky Gervais: Supernature</a></li>
<li><a href="https://thetvdb.com/movies/romantiche">Romantiche</a></li>
<li><a href="https://thetvdb.com/movies/8-mile">8 mile</a></li>
<li><a href="https://thetvdb.com/movies/allassalto-le-radici-del-rap-italiano">All&rsquo;assalto - Le radici del rap italiano</a></li>
<li><a href="https://thetvdb.com/movies/the-angry-birds-movie">Angry Birds</a></li>
<li><a href="https://thetvdb.com/movies/antrum">Antrum - Il film maledetto</a></li>
<li><a href="https://thetvdb.com/movies/arrivano-i-prof">Arrivano i Prof</a></li>
<li><a href="https://thetvdb.com/movies/inglourious-basterds">Bastardi senza gloria</a></li>
<li><a href="https://thetvdb.com/movies/belladonna-of-sadness">Belladonna of sadness</a></li>
<li><a href="https://thetvdb.com/movies/belli-ciao">Belli ciao</a></li>
<li><a href="https://thetvdb.com/movies/welcome-to-marwen">Benvenuti a Marwen</a></li>
<li><a href="https://thetvdb.com/movies/big-fish">Big Fish - Le storie di una vita incredibile</a></li>
<li><a href="https://thetvdb.com/movies/blade-runner-2049">Blade Runner 2049</a></li>
<li><a href="https://thetvdb.com/movies/borat-2">Borat - Seguito di film cinema</a></li>
<li><a href="https://thetvdb.com/movies/boris-il-film">Boris - il film</a></li>
<li><a href="https://thetvdb.com/movies/bright">Bright</a></li>
<li><a href="https://thetvdb.com/movies/once-upon-a-time-in-hollywood">C&rsquo;era una volta a&hellip; Hollywood</a></li>
<li><a href="https://thetvdb.com/movies/cold-in-july">Cold in July</a></li>
<li><a href="https://thetvdb.com/movies/control">Control</a></li>
<li><a href="https://thetvdb.com/movies/cosmopolis">Cosmopolis</a></li>
<li><a href="https://thetvdb.com/movies/cotto-frullato-z-the-crystal-gear">Cotto &amp; Frullato Z: The Crystal Gear</a></li>
<li><a href="https://thetvdb.com/movies/divorzio-a-las-vegas">Divorzio a Las Vegas</a></li>
<li><a href="https://thetvdb.com/movies/dogman">Dogman</a></li>
<li><a href="https://thetvdb.com/movies/dope-boys-alphabet">Dope Boys Alphabet</a></li>
<li><a href="https://thetvdb.com/movies/eternals">Eternals</a></li>
<li><a href="https://thetvdb.com/movies/133304-everybodys-everything">Everybody’s Everything</a></li>
<li><a href="https://thetvdb.com/movies/exit-through-the-gift-shop">Exit Through the Gift Shop</a></li>
<li><a href="https://thetvdb.com/movies/famoo-the-movie">Famo$o</a></li>
<li><a href="https://thetvdb.com/movies/favolacce">Favolacce</a></li>
<li><a href="https://thetvdb.com/movies/fear-x">Fear X</a></li>
<li><a href="https://thetvdb.com/movies/to-the-bone">Fino all&rsquo;osso</a></li>
<li><a href="https://thetvdb.com/movies/ghost-dog-the-way-of-the-samurai">Ghost Dog</a></li>
<li><a href="https://thetvdb.com/movies/good-time">Good Time</a></li>
<li><a href="https://thetvdb.com/movies/the-grand-budapest-hotel">Grand Budapest Hotel</a></li>
<li><a href="https://thetvdb.com/movies/guns-akimbo">Guns Akimbo</a></li>
<li><a href="https://thetvdb.com/movies/have-a-good-trip-adventures-in-psychedelics">Have a Good Trip: Adventures in Psychedelics</a></li>
<li><a href="https://thetvdb.com/movies/the-dictator">Il dittatore</a></li>
<li><a href="https://thetvdb.com/movies/the-big-lebowski">Il grande Lebowski</a></li>
<li><a href="https://thetvdb.com/movies/little-nicholas">Il piccolo Nicolas e i suoi genitori</a></li>
<li><a href="https://thetvdb.com/movies/il-primo-natale">Il Primo Natale</a></li>
<li><a href="https://thetvdb.com/movies/il-talento-del-calabrone">Il talento del calabrone</a></li>
<li><a href="https://thetvdb.com/movies/into-the-wild">Into The wild</a></li>
<li><a href="https://thetvdb.com/movies/i-am-legend">Io sono leggenda</a></li>
<li><a href="https://thetvdb.com/movies/italiano-medio">Italiano Medio</a></li>
<li><a href="https://thetvdb.com/movies/jack-frusciante-e-uscito-dal-gruppo">Jack Frusciante è uscito dal gruppo</a></li>
<li><a href="https://thetvdb.com/movies/the-wave-2008">l&rsquo;Onda</a></li>
<li><a href="https://thetvdb.com/movies/the-ballad-of-buster-scruggs">La ballata di Buster Scruggs</a> | Film preferito ❤️</li>
<li><a href="https://thetvdb.com/movies/incendies">Incendies</a></li>
<li><a href="https://thetvdb.com/movies/a-silent-voice">A silent voice</a></li>
<li><a href="https://thetvdb.com/movies/the-armadillos-prophecy">La profezia dell&rsquo;armadillo</a></li>
<li><a href="https://thetvdb.com/movies/muse">La settima musa</a></li>
<li><a href="https://thetvdb.com/movies/lords-of-chaos">Lords of Chaos</a></li>
<li><a href="https://thetvdb.com/movies/love-2015">Love</a></li>
<li><a href="https://thetvdb.com/movies/the-matrix-4">Matrix Resurrections</a></li>
<li><a href="https://thetvdb.com/movies/melissa-p">Melissa P.</a></li>
<li><a href="https://thetvdb.com/movies/mr-nobody">Mr. Nobody</a></li>
<li><a href="https://thetvdb.com/movies/the-assignment">The Assignment</a></li>
<li><a href="https://thetvdb.com/movies/serial-bad-weddings">Non sposate le mie figlie!</a></li>
<li><a href="https://thetvdb.com/movies/numero-zero-the-roots-of-italian-rap">Numero Zero: Alle origini del rap italiano</a></li>
<li><a href="https://thetvdb.com/movies/oh-ramona">Oh, Ramona!</a></li>
<li><a href="https://thetvdb.com/movies/pulp-fiction">Pulp Fiction</a></li>
<li><a href="https://thetvdb.com/movies/ready-player-one">Ready Player One</a></li>
<li><a href="https://thetvdb.com/movies/eternal-sunshine-of-the-spotless-mind">Se mi lasci ti cancello</a></li>
<li><a href="https://thetvdb.com/movies/spider-man-into-the-spider-verse">Spider-Man: Into the Spider-Verse</a></li>
<li><a href="https://thetvdb.com/movies/ted-2">Ted 2</a></li>
<li><a href="https://thetvdb.com/movies/ted">Ted</a></li>
<li><a href="https://thetvdb.com/movies/land-and-freedom">Land and freedom</a></li>
<li><a href="https://thetvdb.com/movies/the-american-meme">The American meme</a></li>
<li><a href="https://thetvdb.com/movies/the-great-hack">The Great Hack</a></li>
<li><a href="https://thetvdb.com/movies/american-history-x">American History X</a></li>
<li><a href="https://thetvdb.com/movies/the-triplets-of-belleville">Appuntamento a Belleville</a> | Film preferito ❤️</li>
<li><a href="https://thetvdb.com/movies/the-last-circus">Ballata dell&rsquo;odio e dell&rsquo;amore</a></li>
<li><a href="https://thetvdb.com/movies/birdman">Birdman</a> | Film preferito ❤️</li>
<li><a href="https://thetvdb.com/movies/frank">Frank</a> | Film preferito ❤️</li>
<li><a href="https://thetvdb.com/movies/gran-torino">Gran Torino</a> | Film preferito ❤️</li>
<li><a href="https://thetvdb.com/movies/holy-motors">Holy Motors</a> | Film preferito ❤️</li>
<li><a href="https://thetvdb.com/movies/pans-labyrinth">Il labirinto del fauno</a> | Film preferito ❤️</li>
<li><a href="https://thetvdb.com/movies/chasing-amy">Chasing Amy</a> | Film preferito ❤️</li>
<li><a href="https://thetvdb.com/movies/jojo-rabbit">Jojo Rabbit</a> | Film preferito ❤️</li>
<li><a href="https://thetvdb.com/movies/corpse-bride">La sposa cadavere</a> | Film preferito ❤️</li>
<li><a href="https://thetvdb.com/movies/mad-max-fury-road">Mad Max: Fury Road</a> | Film preferito ❤️</li>
<li><a href="https://thetvdb.com/movies/snowpiercer">Snowpiercer</a> | Film preferito ❤️</li>
<li><a href="https://thetvdb.com/movies/only-lovers-left-alive">Solo gli amanti sopravvivono</a> | Film preferito ❤️</li>
<li><a href="https://thetvdb.com/movies/v-for-vendetta">V per Vendetta</a> | Film preferito ❤️</li>
<li><a href="https://thetvdb.com/movies/kimestu-no-yaiba-mugen-ressha-hen">Demon Slayer - Il treno Mugen</a></li>
<li><a href="https://thetvdb.com/movies/sword-art-online-the-movie-ordinal-scale">Sword Art Online The Movie - Ordinal Scale</a></li>
</ul>

</article>
</main>

</body>
</html>

