---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css'
---

<Layout title="L'angolo dei Consigli by Matthew | Piacere, Matthew">
	<main>
		<div id="divPrincipale">
			<Header />
			<div id="divSezione">
				<p>Ogni tot sono solito prendermi un pò di tempo per fare pulizia sul mio profilo Mastodon, togliendo sia cose che non servono più (tipo post di aiuto perchè non trovo delle cose) che Boost che non servono più (tipo eventi fatti mesi fa).<br />
                    Però, ogni tanto, capita di dover togliere alcuni toot che avevano all'interno dei link che, per qualcuno, possono essere interessanti.<br />
                    Ed e qua che viene in aiuto questa pagina.. una lista di video, musica, libri e tutto quello che c'era sul mio profilo e che può interessare a qualcuno.</p>
                <h3>🎬 Video</h3>
                <ul>
                    <li>- <a href="https://yt.artemislena.eu/watch?v=ftL-FRHS9IE"> Non fumano, non bevono, non si drogano: chi sono gli straight edge</a></li>
                    <li>- <a href="https://invidious.nerdvpn.de/watch?v=Nt0d6ztCBmM">Il più Grande Hacker di Videogiochi di Tutti i Tempi</a></li>
                    <li>- <a href="https://invidious.nerdvpn.de/watch?v=yzRvvQgEOHM">30 anni di rave in Italia: con Pablito El Drito</a></li>
                </ul>
                <h3> 🎶 Musica</h3>
                <ul>
                    <li>- <a href="https://audio.copyriot.xyz/library/albums/2">La macchina desiderante – Felici come un computer</a></li>
                    <li>- <a href="https://invidious.lunar.icu/watch?v=mO2vFlCvlY8">GEMITAIZ – Ballon D&#39;Or ft. Nayt</a></li>
                    <li>- <a href="https://icanibaustelle.bandcamp.com/album/i-cani-baustelle"> I CANI BAUSTELLE </a></li>
                    <li>- <a href="https://www.youtube.com/@TheDungeonSynthArchives/videos">The Dungeon Synth Archives</a> (scoperto grazie a <a href="https://livellosegreto.it/@Gabratta">Gabratta</a>)</li>
                    <li>- <a href="https://ornatorpet.bandcamp.com/album/evigt-fr-mmande-evigt-fj-rran">Evigt fr​ä​mmande, evigt fj​ä​rran by Örnatorpet</a> (scoperto grazie a <a href="https://livellosegreto.it/@Gabratta">Gabratta</a>)</li>
                </ul>
                <h3>📰 Articoli</h3>
                <ul>
                    <li>- <a href="https://noblogo.org/filippodb/breve-guida-per-navigare-piu-veloci-e-piu-sicuri-con-le-estensioni-per">Breve guida per navigare più sicuri e veloci con Librewolf, Brave e Mullvad Browser</a></li>
                    <li>- <a href="https://www.tecnobabele.com/i-5-provider-di-posta-elettronica-piu-sicuri-e-crittografati/2021-02-03/"> I 5 provider di posta elettronica più sicuri e crittografati</a></li>
                </ul>
                <h3> 📱 App FOSS</h3><br/>
                <p>Una lista uscita direttamente da questo <a href="https://livellosegreto.it/@KSGamingLife/111849739328291726">threads</a> di <a href="https://livellosegreto.it/@KSGamingLife">KSGamingLife</a>, questa lista è stata fatta per comodità mia ma ho deciso di renderla pubblica a tutti.
                Ringrazio chiunque abbia contribuito alla discussione</p>
                <ul>
                    <li>- <a href="https://f-droid.org/en/packages/com.looker.droidify/">Droid-ify</a> <i>(alternativa al Play Store)</i></li>
                    <li>- <a href="https://f-droid.org/en/packages/com.aurora.store/">Aurora Store</a> <i>(alternativa al Play Store)</i></li>
                    <li>- <a href="https://f-droid.org/en/packages/com.chooloo.www.koler/">Koler</a> <i>(alternativa all&#39;app chiamate)</i></li>
                    <li>- <a href="https://f-droid.org/en/packages/com.simplemobiletools.smsmessenger/">Simple SMS Messenger</a> <i>(alternativa all&#39;app sms)</i></li>
                    <li>- <a href="https://github.com/twireapp/Twire">Twire</a> <i>(alternativa all&#39;app Twitch)</i></li>
                    <li>- <a href="https://f-droid.org/en/packages/com.github.libretube/">LibreTube</a> <i>(alternativa all&#39;app YouTube)</i></li>
                    <li>- <a href="https://f-droid.org/en/packages/app.organicmaps/">Organic Maps</a> <i>(alternativa all&#39;app Maps)</i></li>
                    <li>- <a href="https://f-droid.org/en/packages/com.beemdevelopment.aegis/">Aegis Authenticator</a> <i>(alternativa alle app Autenticatore 2FA)</i></li>
                    <li>- <a href="https://f-droid.org/packages/juloo.keyboard2/">Unexpected Keyboard</a> <i>(alternativa alla gBoard)</i></li>
                    <li>- <a href="https://f-droid.org/packages/org.ca.squawker/">Squawker</a> <i>(client alternativo per Twitter)</i></li>
                    <li>- <a href="https://f-droid.org/packages/com.noahjutz.gymroutines/">GymRoutines</a> <i>(alternativa alle app di Fitness)</i></li>
                    <li>- <a href="https://f-droid.org/en/packages/me.hackerchick.catima/">Catima</a> <i>(gestione delle carte fedeltà)</i></li>
                    <li>- <a href="https://f-droid.org/en/packages/de.danoeh.antennapod/">AntennaPod</a> <i>(per ascoltare podcast)</i></li>
                    <li>- <a href="https://apt.izzysoft.de/fdroid/index/apk/org.breezyweather">Breezy Weather</a><i>(app meteo)</i></li>
                    <li>- <a href="https://f-droid.org/en/packages/org.schabi.newpipe/">NewPipe</a> <i>(Aalternativa alle app YouTube)</i></li>
                    <li>- <a href="https://f-droid.org/it/packages/oss.krtirtho.spotube/">Spotube</a> <i>(Client alternativo a Spotify)</i></li>
                    <li>- <a href="https://f-droid.org/it/packages/us.spotco.fennec_dos/">Mull</a> <i>(browser FOSS basato su Firefox)</i></li>
                    <li>- <a href="https://f-droid.org/it/packages/fr.gouv.etalab.mastodon/">Fedilab</a> <i>(client per Mastodon e Pixelfed)</i></li>
                    <li>- <a href="https://f-droid.org/it/packages/nl.asymmetrics.droidshows/">DroidShows</a> <i>(aggiungere e memorizzare gli episodi delle serie tv viste)</i></li>
                    <li>- <a href="https://f-droid.org/it/packages/design.codeux.authpass.fdroid/">AuthPass </a> <i>(gestore password compatibile con Keepass)</i></li>
                    <li>- <a href="https://f-droid.org/it/packages/com.zionhuang.music/">InnerTune</a> <i>(ascoltare musica in streaming senza account)</i></li>
                </ul>
 			</div>
			<Footer/>
		</div>
	</main>
</Layout>