---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import blog from '../../public/data/blog.json';
import '../styles/global.css'
---

<Layout title="Blog | Piacere, Matthew">
	<main>
		<div id="divPrincipale">
			<Header />
			<div id="divSezione">
				<p>Qui scrivo di tecnologia, internet culture e di esperienze di vita che voglio raccontare.</p>
                <h3>L'angolo Tech</h3>
                <p>“L'angolo Tech” è una rubrica che nasce da una semplice esigenza: avere un posto dove mettere gli appunti delle cose che faccio, in modo che in futuro so dove trovarli quando ne ho bisogno.</p><br />
				<ul>
                    {
                        blog.map((blog) => {
                            if (blog.tag == "Angolo Tech"){
                                return(
                                <li>- <a href={blog.url}>{blog.titolo}</a></li>
                            );
                            }
                        })
                    }
                </ul>
				<h3>Senza Meta</h3>
                <p><i>Un diario arrivato fuori dal mondo digitale</i>.<br /><br />
                    “Senza Meta” è una rubrica personale ed intimista dove verranno raccontate esperienze che vanno al di fuori del mondo digitale con l'aggiunta di un paio esperimenti e fallimenti di vita.
                </p><br />
				 <ul>
                    {
                        blog.map((blog) => {
                            if (blog.tag == "Senza Meta"){
                                return(
                                <li>- <a href={blog.url}>{blog.titolo}</a></li>
                            );
                            }
                        })
                    }
                </ul>
 			</div>
			<Footer/>
		</div>
	</main>
</Layout>