---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const angoloTech = (await Astro.glob('./posts/angolo-tech/*.md')).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
)
const senzaMeta = (await Astro.glob('./posts/senza-meta/*.md')).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
)
import '../styles/global.css'
---

<Layout title="Blog | Piacere, Matthew">
	<main>
		<div id="divPrincipale">
			<Header />
			<div id="divSezione">
				<p>Qui scrivo di tecnologia, internet culture e di esperienze di vita che voglio raccontare.</p>
                <h3>L'angolo Tech</h3>
                <p>“L'angolo Tech” è una rubrica che nasce da una semplice esigenza: avere un posto dove mettere gli appunti delle cose che faccio, in modo che in futuro so dove trovarli quando ne ho bisogno.</p><br />
                <ul>
                    {
                        angoloTech.map(post => (
                            <li>- <a href={post.url}>{post.frontmatter.title}</a></li>
                        ))
                    }
                </ul>
				<h3>Senza Meta</h3>
                <p><i>Un diario arrivato fuori dal mondo digitale</i>.<br /><br />
                    “Senza Meta” è una rubrica personale ed intimista dove verranno raccontate esperienze che vanno al di fuori del mondo digitale con l'aggiunta di un paio esperimenti e fallimenti di vita.
                </p><br />
				 <ul>
                    {
                        senzaMeta.map(post => (
                            <li>- <a href={post.url}>{post.frontmatter.title}</a></li>
                        ))
                    }
                </ul>
 			</div>
			<Footer/>
		</div>
	</main>
</Layout>