---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout title="Index | Piacere, Matthew">
	<main>
		<div id="divPrincipale">
			<Header />
			<!-- Intro -->
			<div id="divSezioneLinkVice">
				<h2 id="h2Console">
					<span style="color:#999;">// Cos'è sto sito?</span><br />
					<span style="color:#ccc;">console.</span><span style="color:#f08d49;">log</span><span style="color:#999;">(</span><span style="color:#7ec699;">"<a href="https://tinyurl.com/rxdd6je2"">https://tinyurl.com/rxdd6je2</a>"</span><span style="color:#999;">);</span>
				</h2>
			</div>

			<!-- Intro -->
			<div id="divSezione">
				<h2>Salve popolo di internet, sono Matthew</h2>
				<p>
				Una persona appassionata di tecnologia e culture underground con un diploma da perito informatico alle spalle<br /><br />
				<i><a href="/">Piacere, Matthew</a></i> è il mio <a href="https://www.vice.com/it/article/pky7vv/come-creare-blog-giardino-digitale">giardino digitale</a> <i>(palesemente rubato dal <a href="https://www.fromjason.xyz/">From Jason</a>, lo so, ammetto le mie colpe ma amo questi siti minimalisti... pagherò i miei peccati più avanti)</i>, un sito personale dove mi occupo di progetti, stranezze, scoperte interessanti e tutte quelle follie fatte assecondando la mia FOMO e la mia dipendenza da dopamina.<br /><br />
				Benvenuto. Sentiti libero di curiosare e di <a href="/blog">leggere gli articoli che scrivo</a>.
				</p>
			</div>

			<!-- More -->
			<div id="divSezione">
				<h2>Riassunto</h2>
				<p>Per quanto riguarda il mondo videogmaes vi lascio il mio account <a href="https://steamcommunity.com/id/matthew_matt/">Steam</a><br /><br />
				Per i libri, basta accedere alla sezione <a href="/libri/">Libri</a> del mio sito<br /><br /></p>
			</div>	

			<div id="divSezione">
				<h2>Zona tecnica</h2>
				<p>I contenuti di questo sito sono pubblicati con licenza Creative Commons Attribution, tranne quando specificato.<br /><br />
				Sito costruito utilizzando Astro.js, Github e Vercel<br /><br />
				Per realizzarlo ho grattato/preso spunto da <a href="https://www.fromjason.xyz/">From Jason</a>, <a href="https://www.andreacorinti.com/">Andrea Corinti</a> e La <a href="https://lamacchinadesiderante.org/">Macchina desiderante</a>
				</p>
			</div>	
			<Footer />
		</div>
	</main>
</Layout>
