---
import '../styles/global.css'
---

<footer>
    <div id="div-footer-1">
        <div id="div-footer-2">
        © Piacere, Matthew 
        </div>
        <div id="div-footer-3">
        Se incontri il Buddha per strada non t'improvvisare
        </div>
    </div>
</footer>