---
import Navbar from '../components/Navbar.astro'
import '../styles/global.css'
---

<header>
    <Navbar />
    <aside>
        <h1 id="headerTitolo">Piacere, Matthew</h1>
        <p class="lead enter-text" id="pTitolo">Un posto digitale ideato da una persona fisica</p>
    </aside>
</header>