---
import '../styles/global.css'
---


 <header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
      </div>
      <div class="hidden lg:flex lg:gap-x-8">
        <a href="/blog" class="text-m font-semibold leading-8 text-gray-900" id="anchor-navbar">Il Blog</a>
        <a href="/libri" class="text-m font-semibold leading-8 text-gray-900" id="anchor-navbar">Libri</a>
        <a href="/tracker" class="text-m font-semibold leading-8 text-gray-900" id="anchor-navbar">Tracker</a>
        <a href="/angoloConsigli" class="text-m font-semibold leading-8 text-gray-900" id="anchor-navbar">L'angolo dei consgili</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      </div>
    </nav>
  </header>
