@font-face {
  font-family:FontTitoli;
  src:url(../DK_Lemon_Yellow_Sun.6KvRhFLA.otf)
}

body {
	font-family: sans serif;
	color: #ccc ;
	/*text-align: center;*/
	background: url(../background.png) no-repeat center center fixed;
}

#anchorHeader{
	text-decoration: none;
}

#topicBlog {
	clear: both;
	padding: 0;
	border-radius: 10px;
	text-align: center;
	margin: 0 auto;
	border: solid 1px;
	  border-top-style: solid;
	  border-right-style: solid;
	  border-bottom-style: solid;
	  border-left-style: solid;
	border-style: dashed;
	list-style: none;
}

#topicBlog li {
	display: inline-block;
	padding: 2%;
  }

#link {
  list-style: none;
  text-align: center;
  font-size: 48pt;
  margin: 0;
}

#link li {
  display: inline;
  padding: .1em;
  margin: .1em;
}

#link img{
	max-height: 8em;
	max-width: 0.8em;
	vertical-align: middle;
}

.titleimg {
	box-align: center ;
	padding-bottom:20px;
}

.titleimg img {
	margin: auto ;
	max-width: 90% ;
	max-height: 400px ;
	display: block ;
}

main {
	max-width: 800px ;
	margin: auto ;
}

time {
	font-family: monospace;
	color: #888;
	font-size: 10pt;
  }

blockquote{
	font-family: monospace;
	color: #888;
	font-size: 12pt;
}
  
#imgArticle{
	margin: auto ;
	max-width: 90% ;
	max-height: 600px ;
	display: block ;
}


header h1 {
	text-align: center ;
	color: #f08d49;
	font-family:FontTitoli;
}

h1{
	text-align: center;
	color: #f08d49;
	font-weight: bold;
	font-size: xx-large;
	font-family: FontTitoli;
}

h3 {
	color: #7ec699;
}

a{
	text-decoration: underline;
	color: inherit;
}

footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}
