<figure class="titleimg">
	<img src="avatar.png" title="My avatar make with Midjourney" alt="My avatar make with Midjourney" class="imgHeader">
	<p style="text-align: center"><i>F*uck visibility and make the web punk again</i></p>
	<br />
	<div style="background: #2d2d2d;padding: 1em;overflow: auto;">
		<p style="color: white;"><span style="color: #999;">// Cos'è sto sito?</span><br />console.<span style="color: #f08d49;">log</span>(<span style="color: #7ec699;">"<a id="tinyurl" href="https://tinyurl.com/rxdd6je2" target="_blank">https://tinyurl.com/rxdd6je2</a>"</span>);</p>		
	</div>
</figure>
