<ul id="link">
	<li><a href="https://www.youtube.com/@unAltroNPCsuYouTube"><img src="icon/yt.svg" id="immagineLink"></a></li>
	<li><a href="https://github.com/mattiaudisio"><img src="icon/git.svg" id="immagineLink"></a></li>
	<li><a href="/index.xml"><img src="icon/rss.svg" id="immagineLink"></a></li>
	<li><a href="libri/"><img src="icon/books.svg" id="immagineLink"></a></li>
	<li><a href="blog/"><img src="icon/scroll.svg" id="immagineLink"></a></li>
	<li><a href="tracker/"><img src="icon/tracker.svg" id="immagineLink"></a></li>
	<li><a href="angoloconsigli/"><img src="icon/notepad.svg" id="immagineLink"></a></li>
	<li><a href="podcast/"><img src="icon/podcast.png" id="immagineLink"></a></li>
</ul>
